html, body {
  margin: 0;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background-color: aquamarine;
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  width: 15%;
  background-color: #81bc9d;
  padding: 10px 20px 0px;
}
.header {
  background-color: #90d1ae;
  min-height: 150px;
  text-align: center;
}

.content {
  background-color: white;
  min-height: 300px;
  padding: 20px;
}
.footer {
  background-color: #90d1ae;
  min-height: 150px;
  text-align: center;
}
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms

table{
 
}
.horario{
text-align: center;
}
thead{
  background-color: #90d1ae;
  color: black;
}
tfoot{
  background-color: lightgray;
}
tbody tr:hover td{
background-color: rgb(230, 228, 228);
}